---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About me</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I’m a postdoctoral fellow in the Department of Physics at Carleton University, supported by a McDonald Institute Theory Fellowship. 
I completed my PhD at the University of Valencia, 
focusing on Beyond Standard Model (BSM) phenomenology. 
My research there focused on extended dark sectors with multiple and asymmetric dark matter (ADM) components, 
as well as neutrino mass models and their connection to baryogenesis through leptogenesis.
<p>
<p>
I’m interested in how astrophysical and cosmological observations can shed light on BSM physics, 
especially in the neutrino and dark sectors. 
My current interests include neutrino self-interactions, neutrino–dark matter interactions, 
the cosmic neutrino background, light dark matter searches, dark matter capture in compact objects, 
phase transitions, and baryogenesis.
		</p>
		
	</div>
</PageLayout>
