---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Research",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">Interests</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			My current interests include neutrino self-interactions, neutrino–dark matter interactions, 
the cosmic neutrino background, light dark matter searches, dark matter capture in compact objects, 
phase transitions, and baryogenesis.
		</p>
		
	</div>
</PageLayout>
